@import "../../styles/constants.less";

.link {
  margin-right: 15px;
  color: @rock-blue;
  text-decoration: none;
  text-transform: uppercase;

  &:visited {
    color: @rock-blue;
  }

  &:hover {
    opacity: 0.8;
  }
}
