@import "../../styles/constants.less";

.dropdown {
  position: relative;
  width: 180px;
  font-family: @main-font;
  font-size: 14px;
  border: 1px solid @charcoal;
  border-radius: 3px;

  select {
    width: 100%;
    background-color: @white;
    color: @charcoal;
    font-size: inherit;
    border: none;
    outline: none;
    margin: 0;
    padding: 6px 8px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  &::placeholder {
    color: @charcoal;
    font-weight: 500;
  }

  &::before,
  &::after {
    position: absolute;
    pointer-events: none;
  }

  &::after {
    content: "\25BE";
    color: @charcoal;
    font-size: 12px;
    line-height: 1;
    right: 8px;
    top: 8px;
  }

  &::before {
    content: "";
    width: 28px;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 0 5px 5px 0;
    background-color: @white;
  }
}
